*{
	padding: 0;
	margin: 0;
}

html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	background-image: url("https://images.pexels.com/photos/75947/pexels-photo-75947.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
     }
 h1{
 	font-family: 'Eater', cursive;
 	font-size: 50px;
 	color:ff0000;
	}	

header{
	display: flex;
	justify-content: center;
	color: red;
	background-color: transparent;
	width:100%;
	height:auto;

}
nav ul {
	display: flex;
	justify-content: center;
	background-color: transparent;
	margin-bottom:20px;
	margin-top:20px;
	list-style-type: none;
	width: 50%;
	height: auto;
	font-size:28px;
	font-family: 'Fontdiner Swanky', cursive;
	

	
}

nav li{
}


a {
	color: red;
	text-decoration: none;

}
section{
	width: 100%;
	height: 600px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

footer{
	margin-top: 50px;
}

article{
	display: flex;
	background-color: transparent;
	color: white;
	width:75%;
	height: 200px;
	border: 2px grey solid;
	margin-bottom: 10px;
}
 h2 {
	width:28%;
	font-size:25px;
    font-family: 'Fontdiner Swanky', cursive;
    color:ff00ff;
}

p{
	text-align: center;
	color:0000ff;
	font-family: 'Almendra SC', serif;

}

img {
	width: 100%;
	height: 100%;
}

.images{
	width:33%;
	height: 100%;
	border-right: 2px grey solid;
}

.contenu {
	width:100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;	
}


/*     */
.contenu-txt{
	width: 66%;
	height:200%;
}

.conteneur{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
}

#reverse{
	flex-direction: row-reverse;
}

#reverse p, #reverse h2 {
	text-align: center;
}

#reverse .images{
	border-left: 2px grey solid;
	border-right: none;
}

#interview {
	height:auto;
	list-style-type: none;
}

#interview .contenu{
	margin-left: 25px;
}

#interview .contenu-txt{
	width:100%;
	height: auto;
}
/*.contenu-txt {
	flex-flow: row wrap;
	justify-content: space-between; 
	border-height: 300px;
	border-width:300px;
}*/



ul{
	display:flex;
	justify-content: stretch;
	flex-direction: right;
    border: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 200px;
	
}

.contenu-txt h2{
	 
 }
