*{
	padding: 0;
	margin: 0;
}

html{
	width: 100%;
	height: 100%;
}

body{
	width: 100%;
	height: 100%;
	background-image: url("https://images.pexels.com/photos/316093/pexels-photo-316093.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	}	

header{
	display: flex;
	justify-content: center;
	color: red;
	background-color: transparent;
	width:100%;
	height:auto;
}
nav {
	width:100%;
	height: auto;
	display:flex;
	justify-content: center;
}
nav ul {
	display: flex;
	justify-content: space-around;
	background-color: transparent;
	margin-bottom:20px;
	margin-top:20px;
	list-style-type: none;
	width: 50%;
	height: auto;
	
}

nav li{
}

a {
	color: red;
	text-decoration: none;
}
section{
	width: 100%;
	height: 600px;
	display:flex;
	justify-content: center;
	flex-wrap: wrap;
}

footer{
	margin-top: 50px;
}

article{
	display: flex;
	background-color: transparent;
	color: white;
	width:75%;
	height: 200px;
	border: 2px red solid;
	margin-bottom: 10px;
}

h2{
	text-align: right;
}
p{
	text-align: right;
}

img {
	width: 100%;
	height: 100%;

}

.images{
	width:33%;
	height: 100%;
	border-right: 2px red solid;
}

.contenu {
	width:100%;
	height: 100%;
	display:flex;
	flex-direction: column;
	flex-wrap: wrap;	
}

.contenu-txt{
	width: 66%;
	height:100%;
}

.conteneur{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
}

#reverse{
	flex-direction: row-reverse;
}

#reverse p, #reverse h2 {
	text-align: left;
}

#reverse .images{
	border-left: 2px red solid;
	border-right: none;
}

#entreprise {
	height: 250px;
}

#interview{
	height: 100%;
}


.contenu-txt ul{
	
}
.contenu-txt h2{
	 
 }
.contenu-txt h2{
	
}