body{
  background-color: green;
}
 #header{
  background-color: yellow;
}

.nav{
  display: flex;
  justify-content: space-around;

}
 li a{
  color: blue;
  font-size: 25px;
  list-style-type: none;
 }

 #container{
    background-color: blue;
    width:60%;
    display:flex;
    justify-content:auto;
    margin-left: 10%;
    margin-right: 10%;

 }

section{
  background-color: blue;
}

h2 {
  font-size: 60px;
  font-family: "Fontdiner Swanky", cursive;
  text-align: center;
  margin: auto;
}

li {
  text-align: center;
  list-style-type: none;
  font-size: 40px;
  font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
  color: red;
}

p {
  text-align: center;
  color: black;
}
img {
   width:400px;
   margin-left: 20%;
   margin-right: 20%;

 }
section {

}
.bouton {
  display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    vertical-align:middle;
    color: #D50000;
    text-decoration:none;
}

.container ul {
  list-style-type: none;
}

.container {
   display: grid;
  grid-template-columns: 1fr;
  /*grid-gap: 10px;*/
  width: 80%;
  margin: 0 10%;
background-color: #ccdba2;
}

.container nav{
  background-color: #000000;
  text-align: center;
  font-size: 16px;
}

.container2{
  background-color:#C51162;
  justify-content: space-around;
  display: wrap;
}

h2 {
  text-align: center;
}